.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100vh;
  width: 100vw;
}

.scan-area {
  width: 50rem;
  height: 28.125rem;
}

.barcode-scanner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.barcode-scanner video {
  width: 100%;
  height: 100%;
}

.barcode-scanner canvas {
  display: none;
}
